body {
  background: url(../images/preview.jpg);
  /* background-color: ; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}
/* .bg-img img {
  background-repeat: no-repeat;
  image-orientation: 0deg;
  background-size: cover;
  background-position: fixed;
  backdrop-filter: blur(5px);
} */
